PhIS/src/main/resources/phisSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/phisSchema" xmlns:x="http://www.example.org/phisSchema">

	<!-- Change image_type to 3 fields as in David's document -->
	<!-- add production center, source project name, source project url, analysis center -->
	
	<!--  Type declaration -->
	<simpleType name="Sex"> <!-- Could use Caro for sexes -->
		<restriction base="string">
			<enumeration value="male"></enumeration>
			<enumeration value="female"></enumeration>
			<enumeration value="unknown"></enumeration>
			<enumeration value="unsexed"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="Zygosity">
		<restriction base="string">
			<enumeration value="homozygous"></enumeration>
			<enumeration value="heterozygous"></enumeration>
			<enumeration value="hemizygous"></enumeration>
			<enumeration value="wild type"></enumeration>
			<enumeration value="unspecified"></enumeration>
		</restriction>
	</simpleType>
	<complexType name="ZygArray">
		<sequence>
			<element name="el" type="x:Zygosity" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<simpleType name="SampleType">
		<restriction base="string">
			<enumeration value="mutant"></enumeration>
			<enumeration value="wild type"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="ImageType">
		<restriction base="string">
			<enumeration value="phenotype/anatomy"></enumeration>
			<enumeration value="expression"></enumeration>
		</restriction>
	</simpleType>
	<complexType name="ImageTypeArray">
		<sequence>
			<element name="el" type="x:ImageType" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<simpleType name="PositiveInt">
		<restriction base="int">
			<minInclusive value="1" />
		</restriction>
	</simpleType>
	<complexType name="PositiveIntArray">
		<sequence>
			<element name="el" type="x:PositiveInt" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="IntArray">
		<sequence>
			<element name="el" type="int" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="FloatArray">
		<sequence>
			<element name="el" type="float" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="StringArray">
		<sequence>
			<element name="el" type="string" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<simpleType name="Percentage">
		<restriction base="double">
			<minInclusive value="0" />
			<maxInclusive value="100" />
		</restriction>
	</simpleType>
	<complexType name="PercentArray">
		<sequence>
			<element name="el" type="x:Percentage" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="Dimensions">
		<annotation>
		  <documentation xml:lang="en">
		 	in pixels
		  </documentation>
		</annotation> 
		<all>
			<element name="image_depth" type="x:PositiveInt" minOccurs="0" maxOccurs="1" />
			<element name="image_height" type="x:PositiveInt" minOccurs="1" maxOccurs="1" />
			<element name="image_width" type="x:PositiveInt" minOccurs="1" maxOccurs="1" />
		</all>
	</complexType>

	<complexType name="Coordinates">
		<annotation>
		  <documentation xml:lang="en">
		 	in % relative to the image dimensions
		  </documentation>
		</annotation>
		<all>
			<element name="z_coordinates" type="x:PercentArray" minOccurs="0" maxOccurs="1" />
			<element name="y_coordinates" type="x:PercentArray" minOccurs="1" maxOccurs="1" />
			<element name="x_coordinates" type="x:PercentArray" minOccurs="1" maxOccurs="1" />
		</all>
	</complexType>

	<simpleType name="Strand">
		<restriction base="string">
			<enumeration value="+"></enumeration>
			<enumeration value="-"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="GenomicLocation">
		<all>
			<element name="start_pos" type="long" minOccurs="0" maxOccurs="1" />
			<element name="end_pos" type="long" minOccurs="0" maxOccurs="1" />
			<element name="chromosone" type="string" minOccurs="0" maxOccurs="1" />
			<element name="strand" type="x:Strand" minOccurs="0" maxOccurs="1" />
		</all>
	</complexType>
	
	<complexType name="Group">
		<all>
			<element name="experiment_id" type="string" minOccurs="0" maxOccurs="1" />
			<element name="colony_id" type="string" minOccurs="0" maxOccurs="1" />
			<element name="project_id" type="string" minOccurs="0" maxOccurs="1" />
			<element name="sb_id" type="string" minOccurs="0" maxOccurs="1" />
			<element name="other" type="string" minOccurs="0" maxOccurs="1" />
		</all>
	</complexType>
	
	<complexType name="GenomicLocationArray">
		<sequence>
			<element name="el" type="x:GenomicLocation" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="ImageDescription">
		<all>
			<element name="image_url" type="string" minOccurs="1" maxOccurs="1" > 
				<annotation>
				  <documentation xml:lang="en">
				  URL to the image itself, not a web page containing the image. This URL will be used to download or embed the image in a website.
				  </documentation>
				</annotation>
			</element>
			<element name="original_image_url" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation xml:lang="en">
						URL to the image in original format.
					</documentation>
				</annotation>
			</element>
			<element name="thumbnail_url" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
				  <documentation xml:lang="en">
				  URL to the image thumbnail itself, not a web page containing the image. This URL will be used to download or embed the thumbnail in a website. This should be provided for3D or large 2D images. 
				  </documentation>
				</annotation>
			</element>
			<element name="image_context_url" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
				  URL linking back to the image page on the original website, if they have single image pages.
				  </documentation>
				</annotation>
			</element>
			<element name="image_dimensions" type="x:Dimensions" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
				  In pixels.
				  </documentation>
				</annotation>
			</element>
			
			<element name="machine" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
				  <documentation xml:lang="en">
				  Machine used to generate the image.
				  </documentation>
				</annotation>
			</element>
			<element name="image_date" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Date when the image was taken. We highly advise to put the date in, as your image will be sorted lower without a date (as if it was an old image).
				  </documentation>
				</annotation>
			</element> 				
			<element name="image_generated_by" type="x:Link" minOccurs="0" >
				<annotation>
				  <documentation xml:lang="en">
				  Lab/center/institute that produced the images.
				  </documentation>
				</annotation>
			</element>
			<element name="image_processed_by" type="x:LinkArray" minOccurs="0">
				<annotation>
				  <documentation xml:lang="en">
				  Lab/center/institute that further procesed the images, for example who generated the 3D rendering from the original images.
				  </documentation>
				</annotation>
			</element>
			<element name="organism_generated_by" type="x:Link" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
				  Lab/center/institute that produced the sample/organism.
				  </documentation>
				</annotation>
			</element> 
			<element name="host" type="x:Link" minOccurs="1" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
				  URL to the website where all the images are accessible. This should be a link to a generic page such as a search page or a home page.
				  </documentation>
				</annotation>
			</element> <!--  -->
			<element name="imaging_method" type="x:AnnotationArray" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
				  The ontology terms accepted are children of "imaging method" in FBBI, see http://www.ebi.ac.uk/ols/ontologies/fbbi/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FFBbi_00000222
				  </documentation>
				</annotation>
			</element>
			<element name="sample_preparation" type="x:AnnotationArray" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
				  The ontology terms accepted are children of "sample prearation" in FBBI, see http://www.ebi.ac.uk/ols/ontologies/fbbi/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FFBbi_00000001
				  </documentation>
				</annotation>
			</element> 
			<element name="image_type" type="x:ImageTypeArray" minOccurs="1" maxOccurs="1" />
			<element name="sample_type" type="x:SampleType" minOccurs="1" maxOccurs="1" />
			<element name="licence" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
				  If any licence restrictions apply to the image, please note the licensing model here. This will be displayed on each page. 
				  </documentation>
				</annotation>
			</element> 
			<element name="magnification_level" type="string" minOccurs="0" maxOccurs="1" />
			<element name="publication" type="x:LinkArray" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
				  One or more publication describing the image production process. Publication which should be cited if the image is used in any other publication.
				  </documentation>
				</annotation>
			</element> 
		</all>
	</complexType>


	<complexType name="Link">
		<all>
			<element name="display_name" type="string" minOccurs="1" maxOccurs="1" />
			<element name="url" type="string" minOccurs="0" maxOccurs="1" />
			<element name="details" type="string" minOccurs="0" maxOccurs="1" />
		</all>
	</complexType>
	<complexType name="LinkArray">
		<sequence>
			<element name="el" type="x:Link" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>


	<complexType name="Organism">
		<all>
			<element name="age" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
				  Age should ideally be presented in days with a further specification, i.e. post conception or post natal
				  </documentation>
				</annotation>
			</element> 
			<element name="taxon" type="string" minOccurs="1" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
				  	Organism taxon name, ideally the label provided by NCBI. Example: Mus musculus.
				  </documentation>
				</annotation>
			</element> 
			<element name="sex" type="x:Sex" minOccurs="0" maxOccurs="1" />
			<element name="ncbi_taxon_id" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
				  <documentation xml:lang="en">
				  Organism taxon id provided by NCBI (if existing). Example NCBITaxon_862507. http://www.ebi.ac.uk/ols/ontologies/ncbitaxon . 
				  </documentation>
				</annotation>
			</element>
			<element name="stage" type="x:OntologyTerm" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
				  	Developmental stage. If an ontology term is provided it should come from a public developmental stage ontology i.e. from https://code.google.com/p/developmental-stage-ontologies/ . 
				  </documentation>
				</annotation>
			</element>
			<element name="background_strain" type="x:StringArray" minOccurs="0" />
			<element name="organism_id" type="string" minOccurs="0" maxOccurs="1"/> 
			<element name="group" type="x:Group" minOccurs="0" maxOccurs="1"/> <!-- will be used to group multiple images taken from the same organism, i.e. animal. -->
		</all>
	</complexType>

	<complexType name="OntologyTerm">
		<all>
			<element name="term_label" type="string" minOccurs="1" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
				   Label, as provided in the ontology. This is provided for human readability of the XML. If it doesn't match the most up-to-date label, this will be replaced.
				  </documentation>
				</annotation>
			</element>
			<element name="term_id" type="string" minOccurs="1" maxOccurs="1"> 
				<annotation>
				  <documentation xml:lang="en">
				   Short form OWL style id, with underscores after namespace not colon. Example MP_0002919
				  </documentation>
				</annotation>
			</element>
		</all>
	</complexType>
	<complexType name="OntologyTermArray">
		<sequence>
			<element name="el" type="x:OntologyTerm" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<simpleType name="AnnotationMode">
		<restriction base="string">
			<enumeration value="manual"></enumeration>
			<enumeration value="automated"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="Annotation">
		<all minOccurs="1">
			<element name="ontology_term" type="x:OntologyTerm" minOccurs="0" maxOccurs="1" />
			<element name="annotation_freetext" type="string" minOccurs="0" maxOccurs="1" />
			<element name="annotation_mode" type="x:AnnotationMode" minOccurs="0" maxOccurs="1" />
		</all>
	</complexType>
	<complexType name="ExpressionAnnotation">
		<all minOccurs="1">
			<element name="ontology_term" type="x:OntologyTerm" minOccurs="0" maxOccurs="1" />
			<element name="annotation_freetext" type="string" minOccurs="0" maxOccurs="1" />
			<element name="annotation_mode" type="x:AnnotationMode" minOccurs="0" maxOccurs="1" />
			<element name="expression_value" type="string" minOccurs="0" maxOccurs="1" /> <!-- expressed/not expressed/ambiguous, strongly expressed, etc. -->
		</all>
	</complexType>
	<complexType name="ProjectSpecific">
		<all minOccurs="1">
			<element name="parameter" type="string" minOccurs="0" maxOccurs="1" />
			<element name="procedure" type="string" minOccurs="0" maxOccurs="1" />
			<element name="pipeline" type="string" minOccurs="0" maxOccurs="1" />
		</all>
	</complexType>
		
	<complexType name="AnnotationArray">
		<sequence>
			<element name="el" type="x:Annotation" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="ExpressionAnnotationArray">
		<sequence>
			<element name="el" type="x:ExpressionAnnotation" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="GenotypeComponent">
		<all>
			<element name="gene_id" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
				  <documentation xml:lang="en">
				   Gene identifier from a public, established resource, representative for the model organism. Examples: MGI, ENSEMBL
				  </documentation>
				</annotation>
			</element>
			<element name="gene_symbol" type="string" minOccurs="0" maxOccurs="1" />
			<element name="gene_name" type="string" minOccurs="0" maxOccurs="1" />
			<element name="genetic_feature_id" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
				   Genetic feature (such as allele) identifier from a public, established resource, representative for the model organism. Examples: MGI, ENSEMBL
				  </documentation>
				</annotation>
			</element>
			<element name="genetic_feature_symbol" type="string" minOccurs="0" maxOccurs="1" />
			<element name="genetic_feature_ensembl_id" type="string" minOccurs="0" maxOccurs="1" />
			<element name="genomic_location" type="x:GenomicLocation" minOccurs="0" maxOccurs="1" />
			<element name="zygosity" type="x:Zygosity" minOccurs="0" maxOccurs="1" />
			<element name="mutation_type" type="x:Annotation" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
				   If an ontology term is provided, see the Sequence ontology ontology. Please contact us if you want to use a different ontology, as this should be possible. See SO ontology: http://www.ebi.ac.uk/ols/ontologies/so/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FSO_0001059
				  </documentation>
				</annotation>
			</element>
			<element name="genome_assembly" type="string" minOccurs="0" maxOccurs="1" />
		</all>
	</complexType>
	
	<complexType name="Genotype">
		<sequence>
			<element name="el" type="x:GenotypeComponent" minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<!-- Main image document -->
	<complexType name="Image">
		<all>
			<element name="id" type="string" minOccurs="1" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Must be consistent over different data exports or the images will be imported multiple times. 
				  </documentation>
				</annotation>
			</element>
			<element name="organism" type="x:Organism" minOccurs="1" maxOccurs="1" />
			<element name="image_description" type="x:ImageDescription" minOccurs="1" maxOccurs="1" />
			<element name="project_annotations" type="x:ProjectSpecific" minOccurs="0" maxOccurs="1" />
			
			<element name="mutant_genotype_traits" type="x:Genotype" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Mutant genetic features. Expressed features should be associated to the channel, not the image itself! 
				  </documentation>
				</annotation>
			</element> 
			<element name="conditions" type="x:StringArray" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Conditions of the experiment. 
				  </documentation>
				</annotation>
			</element> 
			<element name="observations" type="x:StringArray" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Observations relevant to the image and/or experiment that did not fit any of the tags provided. If you think a new XML element should be provided, please contact us. 
				  </documentation>
				</annotation>
			</element> 
			<element name="associated_roi" type="x:StringArray" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Id of the region(s) of intereste associated with this image.  
				  </documentation>
				</annotation>
			</element> 
			<element name="associated_channel" type="x:StringArray" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Id of the channel(s) associated with the image.  
				  </documentation>
				</annotation>
			</element> 
			<element name="depicted_anatomical_structure" type="x:Annotation" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation xml:lang="en">
						Use most general anatomy term describing the anatomical part depicted in the image. It is not necessarily the anatomical part of interest, but merely what is depicted in the image.   
					</documentation>
				</annotation>
			</element> 	
		</all>
	</complexType>


	<!-- Main Channel document. Must be associated to the right image and ROI. -->
	<complexType name="Channel">
		<all>
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
				  <documentation xml:lang="en">
					 Must be consistent over different data exports.   
				  </documentation>
				</annotation>
			</element> 	
			<element name="visualisation_method" type="x:AnnotationArray" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					 Information on staining, markers and such. For ontology terms Visualization method children should be provided, from the Fbbi ontology:  http://www.ebi.ac.uk/ols/ontologies/fbbi/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FFBbi_00000031
				  </documentation>
				</annotation>
			</element> 	
			<element name="associated_image" type="string" minOccurs="1" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					    Image id with which the Channel is associated. 
				  </documentation>
				</annotation>
			</element> 	
			<element name="associated_roi" type="x:StringArray" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					 Regions of interest associated with this channel.
				  </documentation>
				</annotation>
			</element> 
			<element name="depicts_expression_of" type="x:GenotypeComponent" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Gene(s)/genetic feature(s) visibly expressed in the image.
				  </documentation>
				</annotation>
			</element> 	
		</all>
	</complexType>


	<!-- Main Region Of Interest (ROI) document -->
	<complexType name="Roi">
		<all>
			<element name="id" type="string" minOccurs="1" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Must be consistent over different data exports. Image document must link to this id in associated_roi. 
				  </documentation>
				</annotation>
			</element> 	
			<element name="associated_image" type="string" minOccurs="1" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Must always be associated to the right image and back.
				  </documentation>
				</annotation>
			</element> 	 
			<element name="associated_channel" type="x:StringArray" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					 Must always be associated to the right channel and back. 
				  </documentation>
				</annotation>
			</element> 	
			<element name="coordinates" type="x:Coordinates" minOccurs="1" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Roi coordinates. Current assumption is that Rois are points, rectangles (2 points : upper left corner and lower right corner) and poligons (described by the right sequence of points)
				  </documentation>
				</annotation>
			</element> 
			<element name="user_owner" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Id of the user who created the annotation.
				  </documentation>
				</annotation>
			</element> 
			<element name="user_group" type="string" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Group to which the user who created the annotation belongs.
				  </documentation>
				</annotation>
			</element> 	
			<element name="creation_date" type="dateTime" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Date when the annotation was created by the owner.
				  </documentation>
				</annotation>
			</element> 	
			<element name="edit_date" type="dateTime" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Last edit date.
				  </documentation>
				</annotation>
			</element> 	
		
			<!-- Annotations -->
			<element name="depicted_anatomical_structure" type="x:ExpressionAnnotationArray" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Anatomy structure depicting gene expression in the current region of interest.
				  </documentation>
				</annotation>
			</element>
			<element name="is_expression_pattern" type="boolean" minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation xml:lang="en">
						Not all images that depict expression of some gene or transgene in a particular structure depict the expression pattern of that gene or transgene.  The depicted expression might be experimentally generated.  Or the image may depict some clonal fragment of the expression pattern, with other cells in the image being part of the expression pattern but not showing expression.  Because of this, it is not possible to conclude from the fact that some depicted structure expresses X that an image depicts the expression pattern of X.
					</documentation>
				</annotation>
			</element> 	
			<element name="abnormality_in_anatomical_structure" type="x:AnnotationArray" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Anatomical structure presenting some sort of abnormality.
				  </documentation>
				</annotation>
			</element> 	
			<element name="phenotype_annotations" type="x:AnnotationArray" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Phenotypes present in the region of interest.
				  </documentation>
				</annotation>
			</element> 	
			<element name="observations" type="x:StringArray" minOccurs="0" maxOccurs="1" >
				<annotation>
				  <documentation xml:lang="en">
					Any notes that don't fit the above annotations.
				  </documentation>
				</annotation>
			</element> 
		</all>
	</complexType>


	<element name="Doc">
		<complexType>
			<sequence>
				<element name="exportDate" type="date" minOccurs="0" maxOccurs="1" />
				<element name="image" type="x:Image" minOccurs="0" maxOccurs="unbounded" />
				<element name="channel" type="x:Channel" minOccurs="0" maxOccurs="unbounded" />
				<element name="roi" type="x:Roi" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>
</schema>